.gif-item {
    background-color: black;
    border-radius: 10px;
    padding : 5%;
}

.gif-image {
    width : 75%;
    height: auto;
    margin-left: 15%;
    margin-top: 15%;
}

.dropdown-style {
    width: 64%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

.add-new-category-dropdown {
    margin-bottom : 10%;
    width: 80%;
    height: auto;
}

.delete-button {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #d61c1c; 
    border: none;
    color: white;
}

