.found-gif-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.back-next-buttons {
    margin-bottom: 2em;
    padding-bottom: 5%;
}

/* 
* {
    border : solid black 1px;
} */