.gif-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.favorited-gif__section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.filter-category-dropdown {
	padding: 10px 15px;
}

.add-new-category__input {
	padding: 10px 15px;
}

.add-button {
	padding: 10px 15px;
}
